/* Geral */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #17142b;
    /* background-color: rgb(221, 221, 221); */
}

/* Header */
header {
    padding: 10px;
    color: #FFF;
    background-color: #212138;
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-icon {
    width: 60px;
    margin-right: 20px;
}

/* Gráficos */
section {
    padding: 20px 40px;
}

section h1{
    margin: 0 0 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid;
}

.container {
    border-radius: 5px;
    background-color: #212138;
    /* background-color: white; */
    box-shadow: 5px 5px 10px #0d0b18;
    /* box-shadow: 5px 5px 5px rgb(180, 152, 152); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

figure {
    margin: 20px;
    max-width: 400px;
    display: block;
    flex: 1;
}

figcaption{
    padding: 10px 0;
    font-weight: bolder;
    text-align: center;
}

/* Definir cores da região */
#regnorte {
    color: #FFF;
}

#regnordeste {
    color: #F26;
}

#regcentro {
    color: #26f;
}

#regsudeste {
    color: #F62;
}

/* Responsividade */
@media only screen and (max-width: 560px) {
    /* Header */
    header {
        justify-content: center;
    }
    
    header h1{
        font-size: 18px;
    }

    /* Gráficos */
    section {
        padding: 20px 10px;
    }

    section h1{
        font-size: 16px;
    }
    
    .container {
        padding: 20px;
    }

    figure {
        margin: 0;
        max-width: auto;
    }

    figure + figure {
        margin-top: 20px;
    }
}